.container.center
  %h2{style:'text-align:center'} Sign up
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .container
      .col-lg-4
      .form-inputs.col-lg-4
        = f.input :firstname, required: true, placeholder: "Firstname", label: false
        = f.input :lastname, required: true, placeholder: "Lastname", label: false
        = f.input :email, required: true, autofocus: true, placeholder: "example@mail.com",label: false
        = f.input :password, required: true, placeholder: "Password", label: false
        = f.input :password_confirmation, required: true, placeholder: "Password confirmation", label: false
    .form-actions{style:'text-align:center'}
      = f.button :submit, "Sign up", class: 'btn btn-primary'
