.container.center
  %h2{style:'text-align:center'} Log in
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .container
      .col-lg-4
      .form-inputs.col-lg-4
        = f.input :email, required: false, autofocus: true, placeholder: 'example@mail.com', label: false
        = f.input :password, required: false, placeholder: 'Password', label: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .form-actions{style:'text-align:center'}
      = f.button :submit, "Log in", class: 'btn btn-success'

      %br
      = render "devise/shared/links"
