%h1 Listing categories

.container.col-lg-6 
  %table.table
    %tr
      %th Name
      %th

    - categories.each do |category|
      %tr
        %td.col-lg-4= category.name
        %td.col-lg-2
          = link_to 'Show', category_products_path(category), class: "btn btn-info btn-xs"
          - if user_signed_in?
            - if current_user.admin
              = link_to 'Edit', edit_category_path(category), class: "btn btn-warning btn-xs"
              = link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs"


  %br

  - if user_signed_in?
    - if current_user.admin
      = link_to 'New Category', new_category_path, class: "btn btn-success btn-sm"
