= form_for [category, product] do |f|
  - if product.errors.any?
    #error_explanation
      %h2= "#{pluralize(product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - product.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: "Title"
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', placeholder: "Description"
  .form-group
    = f.label :price
    = f.text_field :price, class: 'form-control', placeholder: "0.00"

  = f.submit 'Save', class: 'btn btn-success'
