%h1 Editing product

= render 'form'
%br
= link_to 'Show', category_product_path(category, product), class: 'btn btn-info btn-xs'

= link_to 'Back', category_path(category), class: 'btn btn-primary btn-xs'
