!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand #{AppConfig.workshops_name}
        %p.navbar-text.navbar-right
          - if user_signed_in?
            = link_to current_user.email, user_path(current_user)
            = link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-warning btn-sm"
          - else
            = link_to "Log in", new_user_session_path, class: "btn btn-success btn-sm"
            = link_to "Sign up", new_user_registration_path, class: "btn btn-info btn-sm"
    .container-fluid
      .row
        .col-lg-12
          = yield
